<p id="notice"><%= notice %></p>

<h2>
  <%= @cocktail.name %>
</h2>

<p>
  <strong>Ingredients:</strong>
  <%= @cocktail.ingredients %>
</p>

<%= link_to 'Edit', edit_user_cocktail_path(@user, @cocktail) %> |
<%= link_to 'Delete', user_cocktail_path(@user, @cocktail),
            :data => {:confirm => "Are You Sure?",
            :method => "delete"} %> |
<%= link_to 'Back', user_path(@user) %>
