<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %>
</h2>

<h3>Favorite Cocktails</h3>

<% if @user.cocktails.any? %>


  <% @user.cocktails.each do |cocktail| %>

    <ul>
      <li>
        <% link_to cocktail.name, user_cocktail_path(@user, cocktail) %>
      </li>
    </ul>

  <% end %>
<% else %>
  <p>No favorites (yet)</p>
<% end %>

<%= link_to "Add a favorite", new_user_cocktail_path(@user) %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Delete user', user_path(@user),
          :data => {:confirm => "Are you sure?",
                    :method => "delete"} %>
<%= link_to 'Back', users_path %>
